/* Ranking list */
.ranking-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.coin-logo {
  width: 64px;
  height: auto;
}

.pl-10 {
  padding-left: 10px;
}